<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="FanoramaTest" connectionString="Data Source=.\sqlexpress;Initial Catalog=FanoramaTest;Persist Security Info=True;User ID=ymjerry;Password=msimis"
      providerName="System.Data.SqlClient" />
    <add name="FanoramaCMSLive" connectionString="Data Source=.\sqlexpress;Initial Catalog=FanoramaCMSLive;Persist Security Info=True;User ID=ymjerry;Password=msimis"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>